html /* Change le style sur la page html */
{
	font-family: Arial, Open Sans; /* Change font, si Arial non dispo => Open Sans */
	font-size: small; /* taille font */
}

a
{
	text-decoration: none; /* On retire les effets sur tous les liens */
}

a:hover
{
	text-decoration: underline; /* :hover Quand on passe sur un lien l'effet underline s'applique */
}

.submitButton
{
	font-family: Arial, Open Sans;
	font-size: small;
	border: 1px solid rgb(255,255,255); /* Bordure */ 
	padding: 10px; /* MArge interieur de 10px */ 
	color: gray; /* Couleur de texte grise */ 
	font-weight: bold; /* font en gras */ 
	margin-left: 5px; /* Marge ext gauche de 5px */ 
}

.submitButton:hover
{
	color:black;
	border: 1px solid rgba(112,112,112,.4);
	box-shadow: 1px 1px 1px 1px rgba(56,56,56,.2); /* Effet d'ombre */ 
	background-color: rgba(112,112,112,.1); /* Couleur de background */ 
}

ul
{
	list-style-type: none; /* On retire le style des listes */ 
}

li
{
	display: inline; /* Mise en page des points des listes en aligné */ 
	padding-left: 10px;
}

#inputSearch
{
	width: 579px; /* Largueur 579px */ 
	padding: 12px 15px; 
	margin: 8px 0;
	box-sizing: border-box;
    border: 1px solid rgba(229,229,229,1);
    border-radius: 3px;
    box-shadow: 0 5px 2px -2px rgba(125,125,125,.2);
}

#inputSearch:hover
{
	transition-duration: 0.4s; /* Durée de transition effet */ 
	box-shadow: 2px 2px 8px rgba(11,14,0,0.2);
}

#navBarDiv
{
	display: flex; /* Mise ne page flex */ 
	justify-content: flex-end; /* On aligne tout à droite de l'écran */ 
	padding-bottom: 142px;
	padding-right: 22px;
}

#content
{
	display: flex;
	flex-direction: column; /* On dispose en colonne */ 
	align-items: center; /* On aligne les objets au centre */ 
}

#inputSearchContener
{
	padding-top: 20px;
}

#buttonSearch
{
	padding-top: 20px;
}

#textLangage
{
	padding-top: 20px;
}

#buttonSignIn
{
	border: 1px solid #4285f4;
	border-radius: 2px; /* Angle des bordures */ 
	background-color: #4285f4;
	padding: 6px 12px 6px 12px; /* Marge int 6px top 12px right 6px bot 12px left */ 
	font-weight: bold;
	color: white;
	text-decoration: none;
	cursor: default; /* Le curseur de la souris est mit par défault */ 
}

#buttonAppli
{
	position: relative; /* Position relative */ 
	top: 3px; /* On décale de 3px vers le bas */ 
	width: 15px; 
	height: 17px; /* Largeur */ 
	opacity: .5; /* Opacité de l'objet */ 
}

#buttonAppli:hover
{
	opacity: 1;
}

#footer
{
	border-top: 1px solid #e4e4e4;
	position: fixed; /* on fixe le footer*/ 
	left: 0;
   	bottom: 0;
   	width: 100%; /* Prend toute la largueur de l'écran */ 
   	line-height: 40px;
   	background-color: #f2f2f2;
   	color: rgba(0,0,0,.54); /* Couleur rgba : dernier chiffre = opacité; */ 
}	

#footerBorder
{
	border-bottom: 1px solid #e4e4e4;
}

#footerContenuTop
{
	text-align: left; /* On aligne le texte a gauche */ 
	margin-left: 30px;
	font-size: 15px; /* Taille de font */ 
}

#footerContenuBot
{
	/*padding-right: 27px;*/
	margin-left: 30px;
	float: left; 
}

#footerContenuBotBis
{
	float: right; /* float à droite passe par dessus les objets */ 
	margin-right: 7px;
}

.footList
{
	margin-right: 23px;
}

footer a
{
	color: #666;
}

#divButtonHideShow
{
	display: flex;
	justify-content: center;
	margin-top: 200px;
}